.footer {
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }
  
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }