.footer {
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}